.brdr{
  background-color: rgba(242, 103, 237, 0.871);height: 95px;width: 100%;
}
.ordr{
  background-color: rgba(226, 166, 105, 0.871);height: 65px;width: 100%;
}
.bdr{
  background-image: linear-gradient(#ff9900 , rgb(211, 67, 187));padding-top: 16px;
  height: 1000px;width: 100%;
}
.star1{
  padding-left: 2210px; font-size: 33px;display: inline;
}
.amz {
  position: absolute;
  top: 55%;width: 700px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo{
  height: 70px;width: 130px;margin: 9px; border-radius: 19px;
}